<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/TheDialgaTeam/index.json" />
        <add key="gRPC repository" value="https://grpc.jfrog.io/grpc/api/nuget/v3/grpc-nuget-dev" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="jianmingyong" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
